* {
  padding: 0;
  margin: 0;
}
.sec1 {
  background-color: rgb(205, 205, 205);
  display: flex;
  height: 90vh;
  align-items: center;
  gap: 60px;
  background-image: url("/background2.avif");
}
.sec-1-1 img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 2px solid rgb(54, 49, 49);
  box-shadow: inset 0 -3em 3em black, 0 0 0 2px black, 0.3em 0.3em 1em white;
}
.sec-1-1 {
  margin-left: 100px;
}

.sec-1-2 {
  animation-duration: 3s;
  animation-name: slide-in;
  display: flex;
  background: transparent;
  flex-direction: column;
  gap: 15px;
  border: 2px solid rgb(12, 10, 10);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px white;
  filter: blur();
  background-color: #0e0c03;
}
.sec-1-2-1 {
  font-weight: 500;
}
h1 {
  animation-duration: 3s;
  animation-name: slide-in;
  font-size: 50px;
  color: chocolate;
}

.sec-1-2-3 {
  animation-duration: 3s;
  animation-name: slide-in;
  font-weight: 700;
  font-size: 22px;
  color: white;
}
p {
  animation-duration: 3s;
  animation-name: slide-in;
  color: rgb(230, 224, 224);
}

@keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}
.btns {
  animation-duration: 3s;
  animation-name: slide-in;
  display: flex;
  gap: 20px;
}
.btns > :nth-child(1) {
  padding: 10px 20px;

  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(203, 8, 8);
  border: 2px solid white;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}
.btns > :nth-child(1):hover {
  background-color: darkorange;

  text-decoration: none;
  text-underline-offset: none;
}
.btns > :nth-child(2):hover {
  background-color: darkorange;
  color: white;
}
.btns > :nth-child(2) {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
  transition: all 0.3s ease;
}
.social i {
  width: 20px;
  height: 20px;
   background-color: rgb(210, 107, 22);
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   text-decoration: none;
}
.social {
  animation-duration: 3s;
  animation-name: slide-in;
  display: flex;
  gap: 20px;
  padding: 20px;
 
}
