@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
 
  font-style: normal;
}
a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
}
a:hover {
  color: rgb(114, 7, 190);
  text-decoration: underline;
  text-underline-offset: 8px;
}
.navbar {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: rgb(178, 172, 180);
  padding: 0px, 100px;
}
.logo {
  padding: 10px;
  width: 40%;
  font-size: 30px;
  font-weight: 600;
  color: indigo;
}
.menu-bar {
  list-style: none;
  display: flex;
  width: 60%;
  justify-content: space-around;
}
.menu-bar li {
  font-size: 20px;
}
